.navBaja {
    margin-top: -25px;
    margin-left: 25px;
  }
  
  .showNavbar {
    opacity: 1;
    max-height: 100px;
    transition: opacity 0.3s ease, max-height 0.3s ease;
  }
  
  .hideNavbar {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
  }
  
  .logo {
    width: 80px;
    margin-left: -70px;
  }
  